run = ["go", "run", "main.go", "-c", "./test.db", "-d", "sqlite"]

# If the main file is changed, also change it in Makefile.
entrypoint = "main.go"

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "stable-21_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
